.App {
  display: grid;
  grid-template-areas:
            "ml"
            "mi";
  grid-template-rows: 1fr 100px;
  width: 50%;
  height: 100vh;
  margin: 0 auto;
  background-color: #0E103D;
  text-align: center;
}


