
.message {
  position: relative;
  width: max-content;
  margin: 0.5em 0.5em 1em 0.5em;
  line-height: 24px;
  padding: 10px 20px;
  border-radius: 25px;
  position: relative;
  color: white;
  text-align: right;
}

.username {
    position: absolute;
    top: -35px;
    left: 10px;
    color: white;
    font-size: .8em;
}

.user-right {
    right: 10px;
}

.message-right {
    align-self: flex-end;
}

.message-left {
    align-self: flex-start;
}
